In [26]:
import numpy as np
import pandas as pd
import os, sys

In [27]:
dataset_name = 'gesture_phase'
inp_fname = 'gesture_phase.csv'

In [28]:
input_dir = './data'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [29]:
cols = [f"X{i}" for i in range(1, 33)] + ['Phase']
cols

['X1',
 'X2',
 'X3',
 'X4',
 'X5',
 'X6',
 'X7',
 'X8',
 'X9',
 'X10',
 'X11',
 'X12',
 'X13',
 'X14',
 'X15',
 'X16',
 'X17',
 'X18',
 'X19',
 'X20',
 'X21',
 'X22',
 'X23',
 'X24',
 'X25',
 'X26',
 'X27',
 'X28',
 'X29',
 'X30',
 'X31',
 'X32',
 'Phase']

In [30]:
len(set(cols))

33

In [31]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), header=None, names=cols)
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X24,X25,X26,X27,X28,X29,X30,X31,X32,Phase
0,-0.005009,-0.000964,0.000573,0.008623,0.005667,0.001302,-0.000631,0.000130,-0.000048,0.007762,...,1.880800e-04,0.005133,0.010400,0.000646,0.007871,0.004631,0.000963,0.000092,0.000438,'D'
1,0.004905,0.001209,-0.000649,0.004737,0.003166,0.000819,-0.000572,-0.000015,0.000023,0.002706,...,-7.500000e-07,0.005093,0.005756,0.000573,0.003459,0.000730,0.000332,0.000012,0.000433,'D'
2,-0.002393,-0.000216,0.000136,0.003028,0.001212,0.000336,-0.000449,0.000017,0.000047,0.002868,...,-3.920000e-05,0.002406,0.003279,0.000452,0.003261,0.002412,0.000852,0.000042,0.000202,'D'
3,-0.001394,-0.000242,0.000056,0.001182,0.000575,0.000225,-0.000479,-0.000050,0.000104,0.001171,...,-3.184000e-05,0.001416,0.001334,0.000493,0.001358,0.000313,0.000611,0.000029,0.000596,'D'
4,-0.000156,-0.000004,0.000023,0.001585,0.000630,0.000094,-0.000303,0.000097,0.000065,0.001579,...,-2.015000e-05,0.000158,0.001709,0.000325,0.001713,0.000203,0.000069,0.000038,0.000069,'D'

In [32]:
id_col = "Id"
target_col = "Phase"

# Prepare Data

In [33]:
data['Phase'] = data['Phase'].str.replace("'", "")

In [34]:
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X24,X25,X26,X27,X28,X29,X30,X31,X32,Phase
0,-0.005009,-0.000964,0.000573,0.008623,0.005667,0.001302,-0.000631,0.000130,-0.000048,0.007762,...,1.880800e-04,0.005133,0.010400,0.000646,0.007871,0.004631,0.000963,0.000092,0.000438,D
1,0.004905,0.001209,-0.000649,0.004737,0.003166,0.000819,-0.000572,-0.000015,0.000023,0.002706,...,-7.500000e-07,0.005093,0.005756,0.000573,0.003459,0.000730,0.000332,0.000012,0.000433,D
2,-0.002393,-0.000216,0.000136,0.003028,0.001212,0.000336,-0.000449,0.000017,0.000047,0.002868,...,-3.920000e-05,0.002406,0.003279,0.000452,0.003261,0.002412,0.000852,0.000042,0.000202,D
3,-0.001394,-0.000242,0.000056,0.001182,0.000575,0.000225,-0.000479,-0.000050,0.000104,0.001171,...,-3.184000e-05,0.001416,0.001334,0.000493,0.001358,0.000313,0.000611,0.000029,0.000596,D
4,-0.000156,-0.000004,0.000023,0.001585,0.000630,0.000094,-0.000303,0.000097,0.000065,0.001579,...,-2.015000e-05,0.000158,0.001709,0.000325,0.001713,0.000203,0.000069,0.000038,0.000069,D

In [35]:
data['Phase'].value_counts()

S    2950
D    2741
P    2097
R    1087
H     998
Name: Phase, dtype: int64

# Insert Id Column

In [36]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   Id        X1        X2        X3        X4        X5        X6        X7  \
0   0 -0.005009 -0.000964  0.000573  0.008623  0.005667  0.001302 -0.000631
1   1  0.004905  0.001209 -0.000649  0.004737  0.003166  0.000819 -0.000572
2   2 -0.002393 -0.000216  0.000136  0.003028  0.001212  0.000336 -0.000449
3   3 -0.001394 -0.000242  0.000056  0.001182  0.000575  0.000225 -0.000479
4   4 -0.000156 -0.000004  0.000023  0.001585  0.000630  0.000094 -0.000303

         X8        X9  ...           X24       X25       X26       X27  \
0  0.000130 -0.000048  ...  1.880800e-04  0.005133  0.010400  0.000646
1 -0.000015  0.000023  ... -7.500000e-07  0.005093  0.005756  0.000573
2  0.000017  0.000047  ... -3.920000e-05  0.002406  0.003279  0.000452
3 -0.000050  0.000104  ... -3.184000e-05  0.001416  0.001334  0.000493
4  0.000097  0.000065  ... -2.015000e-05  0.000158  0.001709  0.000325

        X28       X29       X30       X31       X32  Phase
0  0.007871  0.004631  0.000963  0.000092  0.000438      D
1  0.003459  0.000730  0.000332  0.000012  0.000433      D
2  0.003261  0.002412  0.000852  0.000042  0.000202      D
3  0.001358  0.000313  0.000611  0.000029  0.000596      D
4  0.001713  0.000203  0.000069  0.000038  0.000069      D

[5 rows x 34 columns]

# Save Main Data File

In [37]:
data.to_csv(outp_fname, index=False)