In [3]:
import numpy as np
import pandas as pd
import os

In [4]:
dataset = 'statlog'
inp_fname1 = 'sat.trn'
inp_fname2 = 'sat.test'

In [5]:
input_dir = './raw'
output_dir = './processed'

outp_fname = f'{dataset}.csv'
outp_train_fname = f'{dataset}_train.csv'
outp_test_fname = f'{dataset}_test.csv'

output_dir_train = os.path.join(output_dir, 'train')
output_dir_test = os.path.join(output_dir, 'test')

# Read Data

In [6]:
cols = [
    "age",
    "sex",
    "histologic-type",
    "degree-of-diffe",
    "bone",
    "bone-marrow",
    "lung",
    "pleura",
    "peritoneum",
    "liver",
    "brain",
    "skin",
    "neck",
    "supraclavicular",
    "axillar",
    "mediastinum",
    "abdominal",
    "class",
]

In [7]:
data = pd.read_csv(os.path.join(input_dir, inp_fname1)
#                    , header=None, names=cols
                  )
data.head()

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
0,'>=60',female,?,?,no,no,no,no,no,yes,no,no,no,no,no,no,no,lung
1,'>=60',male,?,poorly,no,no,no,no,no,yes,no,no,no,yes,no,yes,no,lung
2,'30-59',female,adeno,?,no,no,no,yes,no,no,no,yes,no,no,yes,no,no,breast
3,'30-59',female,adeno,?,no,no,no,no,yes,no,no,no,no,no,no,no,no,ovary
4,'30-59',female,adeno,?,no,no,no,yes,yes,no,no,no,no,no,no,no,no,ovary

In [8]:
data.shape

(339, 18)

# Insert Id Column

In [9]:
# insert Id column 
N = data.shape[0]
data.insert(0, 'id', np.arange(N))
data.head()

,id,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
0,0,'>=60',female,?,?,no,no,no,no,no,yes,no,no,no,no,no,no,no,lung
1,1,'>=60',male,?,poorly,no,no,no,no,no,yes,no,no,no,yes,no,yes,no,lung
2,2,'30-59',female,adeno,?,no,no,no,yes,no,no,no,yes,no,no,yes,no,no,breast
3,3,'30-59',female,adeno,?,no,no,no,no,yes,no,no,no,no,no,no,no,no,ovary
4,4,'30-59',female,adeno,?,no,no,no,yes,yes,no,no,no,no,no,no,no,no,ovary

# Shuffle Data

In [10]:
# shuffle data
data = data.sample(frac=1, random_state=42)
data.head()

,id,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
284,284,'>=60',female,epidermoid,poorly,no,no,no,no,no,no,no,no,no,no,no,yes,no,lung
116,116,'30-59',male,adeno,?,yes,no,no,no,no,no,no,no,no,no,no,no,no,kidney
113,113,'30-59',female,?,?,yes,no,yes,no,no,no,no,no,no,no,no,no,no,kidney
42,42,'30-59',female,adeno,?,no,no,yes,no,no,yes,no,no,no,no,no,no,yes,pancreas
126,126,'30-59',female,adeno,?,no,no,no,yes,no,no,no,no,no,no,no,no,yes,ovary

# Replace null indicators

In [12]:
data = data.replace('?', np.nan)
data.head()

,id,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
284,284,'>=60',female,epidermoid,poorly,no,no,no,no,no,no,no,no,no,no,no,yes,no,lung
116,116,'30-59',male,adeno,NaN,yes,no,no,no,no,no,no,no,no,no,no,no,no,kidney
113,113,'30-59',female,NaN,NaN,yes,no,yes,no,no,no,no,no,no,no,no,no,no,kidney
42,42,'30-59',female,adeno,NaN,no,no,yes,no,no,yes,no,no,no,no,no,no,yes,pancreas
126,126,'30-59',female,adeno,NaN,no,no,no,yes,no,no,no,no,no,no,no,no,yes,ovary

# Update Class labels

mapping = {
    "+": "positive", 
    "-": "negative"
}

data['class'] = data['class'].map(mapping)
data.head()

# Save Main Data File

In [13]:
data.to_csv(os.path.join(output_dir, outp_fname), index=False)

# Train Test Split

In [15]:
from sklearn.model_selection import train_test_split
test_size = 0.1

data_train, data_test = train_test_split(data, test_size=test_size, random_state=42)
print(data_train.shape, data_test.shape)

data_train.to_csv(os.path.join(output_dir_train, outp_train_fname), index=False)
data_test.to_csv(os.path.join(output_dir_test, outp_test_fname), index=False)

(305, 19) (34, 19)