In [16]:
import numpy as np
import pandas as pd
import os, sys

In [17]:
dataset_name = 'optical_digit_recognition'
inp_fname1 = 'optdigits.tra'
inp_fname2 = 'optdigits.tes'

In [18]:
input_dir = './data'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [19]:
col_names = [f"block_{i}" for i in range(64)] + ["digit"]
print(col_names)
print(len(col_names))

['block_0', 'block_1', 'block_2', 'block_3', 'block_4', 'block_5', 'block_6', 'block_7', 'block_8', 'block_9', 'block_10', 'block_11', 'block_12', 'block_13', 'block_14', 'block_15', 'block_16', 'block_17', 'block_18', 'block_19', 'block_20', 'block_21', 'block_22', 'block_23', 'block_24', 'block_25', 'block_26', 'block_27', 'block_28', 'block_29', 'block_30', 'block_31', 'block_32', 'block_33', 'block_34', 'block_35', 'block_36', 'block_37', 'block_38', 'block_39', 'block_40', 'block_41', 'block_42', 'block_43', 'block_44', 'block_45', 'block_46', 'block_47', 'block_48', 'block_49', 'block_50', 'block_51', 'block_52', 'block_53', 'block_54', 'block_55', 'block_56', 'block_57', 'block_58', 'block_59', 'block_60', 'block_61', 'block_62', 'block_63', 'digit']
65

In [20]:
data1 = pd.read_csv(os.path.join(input_dir, inp_fname1), header=None, )
# data1.head()

data2 = pd.read_csv(os.path.join(input_dir, inp_fname2), header=None, )
# data2.head()

data = pd.concat([data1, data2], ignore_index=True)
data.columns = col_names
data.head()

,block_0,block_1,block_2,block_3,block_4,block_5,block_6,block_7,block_8,block_9,...,block_55,block_56,block_57,block_58,block_59,block_60,block_61,block_62,block_63,digit
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6

In [21]:
data.shape

(5620, 65)

In [22]:
id_col = "id"
target_col = "digit"

# Insert Id Column

In [23]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   id  block_0  block_1  block_2  block_3  block_4  block_5  block_6  block_7  \
0   0        0        1        6       15       12        1        0        0
1   1        0        0       10       16        6        0        0        0
2   2        0        0        8       15       16       13        0        0
3   3        0        0        0        3       11       16        0        0
4   4        0        0        5       14        4        0        0        0

   block_8  ...  block_55  block_56  block_57  block_58  block_59  block_60  \
0        0  ...         0         0         0         6        14         7
1        0  ...         0         0         0        10        16        15
2        0  ...         0         0         0         9        14         0
3        0  ...         0         0         0         0         1        15
4        0  ...         0         0         0         4        12        14

   block_61  block_62  block_63  digit
0         1         0         0      0
1         3         0         0      0
2         0         0         0      7
3         2         0         0      4
4         7         0         0      6

[5 rows x 66 columns]

# Save Main Data File

In [24]:
data.to_csv(outp_fname, index=False)