In [11]:
import numpy as np
import pandas as pd
import os, sys

In [12]:
dataset_name = 'car_evaluation'
inp_fname = 'car.data'

In [13]:
input_dir = './data'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [14]:
col_names = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "evaluation"] 
print(col_names)
print(len(col_names))

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'evaluation']
7

In [15]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), header=None, names=col_names)
data.head()

  buying  maint doors persons lug_boot safety evaluation
0  vhigh  vhigh     2       2    small    low      unacc
1  vhigh  vhigh     2       2    small    med      unacc
2  vhigh  vhigh     2       2    small   high      unacc
3  vhigh  vhigh     2       2      med    low      unacc
4  vhigh  vhigh     2       2      med    med      unacc

In [16]:
id_col = "id"
target_col = "evaluation"

# Insert Id Column

In [17]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   id buying  maint doors persons lug_boot safety evaluation
0   0  vhigh  vhigh     2       2    small    low      unacc
1   1  vhigh  vhigh     2       2    small    med      unacc
2   2  vhigh  vhigh     2       2    small   high      unacc
3   3  vhigh  vhigh     2       2      med    low      unacc
4   4  vhigh  vhigh     2       2      med    med      unacc

# Save Main Data File

In [18]:
data.to_csv(outp_fname, index=False)