In [14]:
import numpy as np
import pandas as pd
import os

In [15]:
dataset = 'telco_churn'
inp_fname = 'telco_churn.csv'

In [16]:
input_dir = './raw'
output_dir = './processed'

outp_fname = f'{dataset}.csv'
outp_train_fname = f'{dataset}_train.csv'
outp_test_fname = f'{dataset}_test.csv'

output_dir_train = os.path.join(output_dir, 'train')
output_dir_test = os.path.join(output_dir, 'test')

# Read Data

In [17]:
col_names = [
    "Alcohol",
    "Malic acid",
    "Ash",
    "Alcalinity of ash",
    "Magnesium",
    "Total phenols",
    "total sulfur dioxide",
    "density",
    "pH",
    "sulphates",
    "alcohol",
    "quality"  
]

In [18]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), header=None, names=cols)
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,'No phone service',DSL,No,...,No,No,No,No,Month-to-month,Yes,'Electronic check',29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,'One year',No,'Mailed check',56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,'Mailed check',53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,'No phone service',DSL,Yes,...,Yes,Yes,No,No,'One year',No,'Bank transfer (automatic)',42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,'Fiber optic',No,...,No,No,No,No,Month-to-month,Yes,'Electronic check',70.70,151.65,Yes

In [19]:
data.shape

(7043, 21)

# Insert Id Column

# insert Id column 
N = data.shape[0]
data.insert(0, 'id', np.arange(N))
data.head()

# Shuffle Data

In [20]:
# shuffle data
data = data.sample(frac=1, random_state=42)
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
185,1024-GUALD,Female,0,Yes,No,1,No,'No phone service',DSL,No,...,No,No,No,No,Month-to-month,Yes,'Electronic check',24.80,24.80,Yes
2715,0484-JPBRU,Male,0,No,No,41,Yes,Yes,No,'No internet service',...,'No internet service','No internet service','No internet service','No internet service',Month-to-month,Yes,'Bank transfer (automatic)',25.25,996.45,No
3825,3620-EHIMZ,Female,0,Yes,Yes,52,Yes,No,No,'No internet service',...,'No internet service','No internet service','No internet service','No internet service','Two year',No,'Mailed check',19.35,1031.70,No
1807,6910-HADCM,Female,0,No,No,1,Yes,No,'Fiber optic',No,...,Yes,No,No,No,Month-to-month,No,'Electronic check',76.35,76.35,Yes
132,8587-XYZSF,Male,0,No,No,67,Yes,No,DSL,No,...,No,Yes,No,No,'Two year',No,'Bank transfer (automatic)',50.55,3260.10,No

# Replace null indicators

In [21]:
# data = data.replace('?', np.nan)

# Update Class labels

mapping = {
    "+": "positive", 
    "-": "negative"
}

data['class'] = data['class'].map(mapping)
data.head()

# Save Main Data File

In [22]:
data.to_csv(os.path.join(output_dir, outp_fname), index=False)

# Train Test Split

In [23]:
from sklearn.model_selection import train_test_split
test_size = 0.05

data_train, data_test = train_test_split(data, test_size=0.05, random_state=42)
print(data_train.shape, data_test.shape)

data_train.to_csv(os.path.join(output_dir_train, outp_train_fname), index=False)
data_test.to_csv(os.path.join(output_dir_test, outp_test_fname), index=False)

(6690, 21) (353, 21)