In [3]:
import numpy as np
import pandas as pd
import os, sys

In [4]:
dataset_name = 'iris'
inp_fname = 'iris.data'

In [5]:
input_dir = './data'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [7]:
col_names = [
    "sepal_length",
    "sepal_width",
    "petal_length",
    "petal_width",
    "class"  
]

In [9]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), header=None, names=col_names)
data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
data.shape

(150, 5)

In [11]:
id_col = "id"
target_col = "class"

# Insert Id Column

In [12]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   id  sepal_length  sepal_width  petal_length  petal_width        class
0   0           5.1          3.5           1.4          0.2  Iris-setosa
1   1           4.9          3.0           1.4          0.2  Iris-setosa
2   2           4.7          3.2           1.3          0.2  Iris-setosa
3   3           4.6          3.1           1.5          0.2  Iris-setosa
4   4           5.0          3.6           1.4          0.2  Iris-setosa

# Save Main Data File

In [14]:
data.to_csv(outp_fname, index=False)